* {
    margin: 0;
    padding: 0;
}

.portfolio {
    max-width: 1700px;
    margin: auto;
    display: flex;
    gap: 110px;
    flex-direction: column;
    justify-content: center;
    padding: 20px 100px;
}