@import  "../variables/Variables.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: nav-anim 1s ease-in;

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    
        img {
            width: 30px
        }

        p {
            font-size: 24px;
            font-weight: 900;
            line-height: 26px;
            margin: 0;
        }
    }

    .nav-menu{
        display: flex;
        gap: 40px;
        height: 50px;
        
        ul {
            display: flex;
            align-items: center;
            gap: 40px;

            li {
                list-style: none;
            }
    
            a {    
                line-height: 20px;
                font-size: 18px;
                font-weight: 700;
                color: $blackColor;
            }

            a:focus {
                color: #404040;
                text-shadow: 2px;
            }

            a::after {
                content: "";
                height: 2px;
                width: 0;
                background: black;
                display: block;
                opacity: 0;
                transition: all 0.3s;
                pointer-events: none;
            }

            a:hover::after,
            a:focus::after {
                opacity: 1;
                width: 100%;
            }
        }
    }

    a {
        text-decoration: none;
    }
}


@keyframes nav-anim {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
    }
}

