@import  "../variables/Variables.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    
        img {
            width: 30px
        }

        p {
            font-size: 24px;
            font-weight: 900;
            line-height: 26px;
            margin: 0;
        }
    }

    .nav-menu{
        display: flex;
        gap: 40px;

        a {
            text-decoration: none;          
            line-height: 20px;
            font-size: 18px;
            font-weight: 700;
            color: $blackColor;
        }
    }

    a {
        text-decoration: none;
    }
}

