@import "../variables/Variables.scss";

.main-section {
    // height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px 100px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}