@import "../variables/Variables.scss";

.my-projects {
    background-color: $blackColor;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;


    .title-3 {
        font-size: 42px;
        display: flex;
        justify-content: center;
        color: $whiteColor;

        label {
            font-weight: 900;
        }
    }

    .project-list {

        display: flex;
        flex-direction: column;
        gap: 50px;

        .project {
            display: flex;
            gap: 100px;
            align-items: center;

            .project-section-1 {

                animation: project-slide-1 500ms ease-in;
                // animation: appear linear;
                animation-timeline: view();
                animation-range: entry 0% cover 30%;

                  img {
                    width: 730px;
                    height: 480px;
                    border-radius: 22px;
                    transition: all 300ms linear;

                    &:hover {
                        cursor: pointer;
                        // transform: perspective(800px) rotateY(30deg);
                        transition: all 300ms linear;
                        filter: drop-shadow(0 0 10px rgba(73, 123, 222, 0.595));
                    }
                }
            }

            .project-section-2 {

                display: flex;
                flex-direction: column;
                gap: 20px;
                animation: project-slide-2 1s ease-in;
                // animation: appear linear;
                animation-timeline: view();
                animation-range: entry 0% cover 40%;
                
                .project-id {
                    font-size: 38px;
                    color: $whiteColor;
                    font-weight: 800;
                }

                .project-title {
                    color: $whiteColor;
                    font-size: 28px;
                    font-weight: 600;
                }

                .project-details {
                    font-size: 16px;
                    line-height: 25px;
                    color: $zincColor;
                    font-weight: 400;
                }
            }
        }
    }
}




@keyframes project-slide-1 {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes project-slide-2 {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
    }
}
