@import "../variables/Variables.scss";

.scroll-top {
    position: fixed;
    bottom: 15px;
    right: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: $whiteColor;
    border-radius: 50px;
    filter: drop-shadow(0px 0px 10px #aaa8a8);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
        filter: brightness(1) invert(0);
    }
}